:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


form {
  width: 250px;
  margin: 20px auto;
}

input {
  width: 95%;
  padding: 10px;
}

.card {
  position: relative;
  height: max-content;
  max-width: 300px;
  text-align: center;
  border-radius: 15px;
  color: black; 
  padding: 50px;
  margin: 0 auto;
  border: 1px solid black;
}

.pkmn-stats div{
  display:flex;
  justify-content: space-between;
  align-content: space-between;
  padding:5px;
  font-size: 20px;
}
.nombre-pokemon{
  font-weight: bold;
  font-size: 30px;
}

.poke-img{
  width: 150px;
  height: 150px;

}


.pkmn-id{
  font-size:25px;
  
}
.pkmn-tipo div{
  font-size:25px;
}

.btnBuscar{
 margin-top: 0px;
 font-size: 20px;
}

.btnBuscar:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


h1 {
  text-align: center;
  color:#222; font-size:40px; font-weight:800;
  text-transform: uppercase;
  word-spacing: 1px; letter-spacing:2px; color:#c50000;
}
h1 span {
  line-height:2em; padding-bottom:15px;
  text-transform: none;
  font-size:.7em;
  font-weight: normal;
  color:#999; letter-spacing:-0.005em; word-spacing:1px;
  letter-spacing:none;
}
h1:after, .six h1:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 45px;
  height: 4px;
  content: "";
  right: 45px; 
  margin:auto;
  background-color: #ccc;
}
h1:before { 
background-color:#d78b8b;
  left:45px; width:90px;
}